html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: #5aa8f0;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 20px 20px 20px;
    border: 2px solid black;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #1062ad;
}
  
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: 0 auto;
    width: 450px;
    height: 450px;
}

ul, ol {
    background-color: gray;
    padding: 10px;
    border: 1px solid black;
}

ul, ol li {
    margin-left: 20px;
}


/* Letter */
address p {
    font-size: 12px;
}

.container-letter dl {
    font-size: 14px;
}

.from {
    text-align: right;
    line-height: normal;
}

.letter p {
    line-height: normal;
    font-size: 14px;
}

.signature p {
    line-height: normal;
    font-size: 14px;
}

.container-letter h1 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: black;
}

.container-letter .content h2 {
    font-size: 16px;
}

.container-letter .content ul, ol {
    background-color: #fff;
    border: none;
    padding: 0 0 0 10px;
}

.container-letter .content ul li, ol li {
    font-size: 14px;
}